gfserver/logs
gfserver/target
gfserver/.settings
gfserver/src/main/java/game/protocol/protobuf
gfserver/src/main/java/com/tiny/game/common/domain/item/ItemId.java
gfserver/src/main/java/com/tiny/game/common/domain/item/ItemAttr.java
gfserver/src/main/java/com/tiny/game/common/GameConst.java
gfserver/logstat
gfconf/conf/~$*.xlsx
.vscode
.vs
.idea
*.iml
gfclient/protobufgen/Packets.bin
gfclient/unityproject/Temp
gfclient/unityproject/Library
gfclient/unityproject/obj
gfclient/unityproject/UnityPackageManager
gfclient/unityproject/*.csproj
gfclient/unityproject/*.sln
gfclient/unityproject/*.sln.DotSettings
gfclient/unityproject/*.suo
gfclient/unityproject/*.userprefs
gfclient/unityproject/.vs
gfclient/*.suo
gfclient/*.csproj.user
gfclient/unityproject/Assets/StreamingAssets/Bundles
gfclient/unityproject/Assets/StreamingAssets/Bundles.meta
gfclient/unityproject/Assets/StreamingAssets/Setting
gfclient/unityproject/Assets/StreamingAssets/Setting.meta
gfclient/Product
gfclient/unityproject/Assets/GEngine/Generated/*

