package com.tiny.game.common.domain.item;

import com.tiny.game.common.exception.InternalBugException;

public enum ItemId {

#ENUM_VAR
	
	private int value = 0;
	private ItemId(int v) {
		this.value = v;
	}
	public int getValue() {
		return value;
	}
	
	public static ItemId valueOf(int val) {
		switch (val) {
#SWITCH_VAR

		}
		throw new InternalBugException();
	}	
}
